.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/
#
**/workspaces/

pdf_file_text.txt
**/data-raw/
**/jpeg_files/
**/.ipynb_checkpoints/
#

**/pdf_files/1969/

**/pdf_files/1970/


**/pdf_files/1974/

**/pdf_files/1977/
**/pdf_files/1978/
**/pdf_files/1979/

**/pdf_files/1980/
**/pdf_files/1981/
**/pdf_files/1982/
**/pdf_files/1983/
**/pdf_files/1984/
**/pdf_files/1985/
**/pdf_files/1986/
**/pdf_files/1987/
**/pdf_files/1988/
**/pdf_files/1989/

**/pdf_files/1990/
**/pdf_files/1991/
**/pdf_files/1992/
**/pdf_files/1993/
**/pdf_files/1994/
**/pdf_files/1995/
**/pdf_files/1996/
**/pdf_files/1997/
**/pdf_files/1998/
**/pdf_files/1999/

**/pdf_files/2001/
**/pdf_files/2002/
**/pdf_files/2003/
**/pdf_files/2004/
**/pdf_files/2005/
