.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/
#
**/workspaces/

pdf_file_text.txt
**/data-raw/
**/jpeg_files/
**/.ipynb_checkpoints/
#

**/pdf_files/1998/
**/pdf_files/1999/

**/pdf_files/2001/
**/pdf_files/2002/
**/pdf_files/2003/
**/pdf_files/2004/
**/pdf_files/2005/
